.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.header a {
    display: flex;
}

.header .logo {
    font-family: "Playfair Display", Georgia, serif;
    font-size: 2.5rem;
    padding-left: 1rem;
}

.header .header-cart {
    align-self: center;
    font-size: 1.3rem;
    padding-right: 1rem;
}

.header .header-cart .header-cart-icon {
    font-size: 1.5rem;
    color: cadetblue;
    margin-right: 10px;
}

.header .header-cart .header-cart-icon:before {
    position: relative;
    right: .25rem;
}